[submodule "themes/bootstrap-bp-hugo-startpage"]
	path = themes/bootstrap-bp-hugo-startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage/
[submodule "themes/accessible-minimalism"]
	path = themes/accessible-minimalism
	url = https://github.com/leonstafford/accessible-minimalism-hugo-theme
